@use './variables.scss' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

body {
  font-family:
    'Helvetica Neue',
    Helvetica,
    'PingFang SC',
    'Hiragino Sans GB',
    'Microsoft YaHei',
    Arial,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

.page-container {
  padding: 16px;
  background: #fff;
  border-radius: 4px;
  min-height: 100%;
}
